<div class="poodll_mdiarecorder_minimal_rec">
    <div class="poodll_mediarecorder_minimal_counter">00:00:00</div>
    <div class="poodll_mediarecorder_minimal_start_button" class="button_visible"></div>
    <div class="poodll_mediarecorder_minimal_stop_button" id="recording_button" class="button_visible"></div>
    <div class="poodll_mediarecorder_minimal_animation"></div>
</div>